<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo alimento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Tipo de alimento</ion-label>
    <ion-select [(ngModel)]="newFood.id">
      <ion-select-option *ngFor="let food of foodOptions" [value]="food.id">{{ food.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Gramos</ion-label>
    <ion-input type="number" [(ngModel)]="newFood.grams"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Calorías</ion-label>
    <ion-input type="number" [(ngModel)]="newFood.calories"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addFood()">Añadir</ion-button>
</ion-content>
