<ion-header>
  <ion-toolbar>
    <ion-title>Registro de comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seleccionar Fecha:</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="selectedDate" (ionChange)="loadMeals()"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let meal of meals">
      <ion-label>{{ meal.food.alimento }}</ion-label>
      <ion-label>{{ meal.calories }}</ion-label>
      <ion-label>{{ meal.grams }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Seleccionar Alimento:</ion-label>
    <ion-select [(ngModel)]="selectedFood">
      <ion-select-option *ngFor="let food of foods" [value]="food">{{ food.alimento }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Gramos:</ion-label>
    <ion-input type="number" [(ngModel)]="grams"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addMeal(selectedFood, grams)">Agregar Registro</ion-button>
</ion-content>
