<ion-header>
  <ion-toolbar>
    <ion-title>Registro de comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>Alimento</ion-col>
      <ion-col>Gramos</ion-col>
      <ion-col>Calorías</ion-col>
    </ion-row>
    <ion-row *ngFor="let record of foodRecords">
      <ion-col>{{ record.food }}</ion-col>
      <ion-col>{{ record.grams }}</ion-col>
      <ion-col>{{ record.calories }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="addRecord()">Agregar nuevo registro</ion-button>
</ion-content>
