<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Balance Calórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Seleccione una fecha</ion-label>
    <br>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="selectedDate" (ionChange)="loadBalance()"></ion-datetime>
  </ion-item>
  
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>Fecha</ion-col>
      <ion-col>Calorias Consumidas</ion-col>
      <ion-col>Calorias Quemadas</ion-col>
      <ion-col>Balance</ion-col>
    </ion-row>
    <ion-row *ngFor="let log of balanceLog">
      <ion-col>{{ log.date | date: 'dd/MM/yyyy' }}</ion-col>
      <ion-col>{{ log.caloriesConsumed }}</ion-col>
      <ion-col>{{ log.caloriesBurned }}</ion-col>
      <ion-col>{{ log.caloricBalance }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
