<ion-header>
  <ion-toolbar>
    <ion-title>Balance Calórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seleccione una fecha</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="selectedDate" (ionChange)="loadBalance()"></ion-datetime>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let log of balanceLog">
      <ion-label>
        <h2>{{ log.date }}</h2>
        <p>Calorías Consumidas: {{ log.caloriesConsumed }}</p>
        <p>Calorías Quemadas: {{ log.caloriesBurned }}</p>
        <p>Balance: {{ log.caloricBalance }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
