<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Actividad Física</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="selectedDate" (ionChange)="loadActivityLog()"></ion-datetime>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>Actividad</ion-col>
      <ion-col>Tiempo (min)</ion-col>
      <ion-col>Calorías Quemadas</ion-col>
    </ion-row>
    <ion-row *ngFor="let activity of activityLog">
      <ion-col>{{ activity.name }}</ion-col>
      <ion-col>{{ activity.minutes }}</ion-col>
      <ion-col>{{ activity.calories }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="showAddActivity = !showAddActivity">Agregar Nueva Actividad</ion-button>

  <div *ngIf="showAddActivity">
    <ion-item>
      <ion-label>Actividad</ion-label>
      <ion-select [(ngModel)]="selectedActivity">
        <ion-select-option *ngFor="let activity of activities" [value]="activity">{{ activity.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tiempo (min)</ion-label>
      <ion-input type="number" [(ngModel)]="minutes"></ion-input>
    </ion-item>

    <ion-button (click)="addActivity()">Agregar Registro</ion-button>
  </div>
</ion-content>
